* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.d-flex {
  display: flex;
}

.aside {
  width: 319px;
  height: 1080px;
  background-color: #222222;
}

.sidebar-header {
  align-items: center;
  margin-top: 42px;
  margin-left: 30px;
  justify-content: space-between;
  margin-right: 30px;
}

.design-today {
  width: 146px;
}

header {
  justify-content: space-between;
}

.searchbar {
  width: 446px;
  height: 56px;
  background-color: #f8f8f8;
  border-radius: 12px;
  margin-left: 25px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  background-color: #f8f8f8;
  border: transparent;
  padding-left: 20px;
}

.search-icon {
  padding-right: 20px;
}

.right-header {
  align-items: center;
  margin-top: 30px;
}

.right-header span {
  color: #ff2288;
  font-size: 14px;
}

.mail-logo {
  margin-left: 35px;
}

.left-circle {
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 50%;
  margin-left: -9px;
  margin-top: -14px;
}

.bell-logo {
  margin-left: 30px;
}

.right-circle {
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 50%;
  margin-left: -11px;
  margin-top: -13px;
}

.profile-pic {
  margin-left: 30px;
  width: 56px;
  height: 56px;
}

.upload {
  margin-left: 30px;
  background-color: #ff2288;
  font-size: 14px;
  width: 129px;
  height: 56px;
  padding-left: 36px;
  padding-top: 19px;
  padding-right: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  border-radius: 12px;
}
