* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.aside {
  width: 319px;
  height: 1150px;
  background-color: #222222;
}

.design-h2 {
  color: #ffffff;
  font-size: 24px;
}

.aside-header {
  align-items: center;
  margin-top: 42px;
  margin-left: 30px;
  justify-content: space-between;
  margin-right: 30px;
}

.design-today {
  width: 146px;
}

.aside-navbar {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 100px;
}

.aside-item {
  width: 259px;
  height: 60px;
  background-color: transparent;
  border-radius: 12px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.aside-item:hover {
  background-color: #ff2288;
}

.aside-navbar-logo {
  margin-right: 15px;
}

.aside-lower {
  margin-left: 30px;
  margin-bottom: 100px;
}

.aside-navbar span {
  color: #ffffff;
  font-size: 16px;
}

.first-pic {
  margin-top: 30px;
}

.aside-profile {
  width: 44px;
  height: 44px;
  margin-bottom: 15px;
}

.following-list span {
  margin-top: 10px;
  margin-left: 21px;
}

.aside-lower span {
  color: #ffffff;
}

.following {
  width: 66px;
  height: 16px;
  font-size: 12px;
}

.following-people {
  align-items: center;
}

.aside-lower div span {
  font-size: 16px;
}

.last-pic {
  margin-bottom: 4px;
}

.load-more {
  font-size: 14px;
  width: 94px;
  height: 19px;
}

.main {
  margin-left: 25px;
}

header {
  justify-content: space-between;
}

.searchbar {
  width: 446px;
  height: 56px;
  background-color: #f8f8f8;
  border-radius: 12px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  background-color: #f8f8f8;
  border: transparent;
  padding-left: 20px;
  resize: none;
  outline: none;
}

.search-icon {
  padding-right: 20px;
}

.right-header {
  align-items: center;
  margin-top: 30px;
}

.go-pro span {
  color: #ff2288;
  font-size: 14px;
  width: 56px;
}

.mail-logo {
  margin-left: 35px;
}

.left-circle {
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 50%;
  margin-left: -9px;
  margin-top: -14px;
}

.bell-logo {
  margin-left: 30px;
}

.right-circle {
  width: 10px;
  height: 10px;
  background-color: #ff2288;
  border-radius: 50%;
  margin-left: -11px;
  margin-top: -13px;
}

.profile-pic {
  margin-left: 30px;
  width: 56px;
  height: 56px;
}

.upload {
  margin-left: 30px;
  background-color: #ff2288;
  font-size: 14px;
  width: 129px;
  height: 56px;
  padding-left: 36px;
  padding-top: 19px;
  padding-right: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  border-radius: 12px;
}

@media (max-width: 1024px) {
  .aside {
    display: none;
  }
}

.mid-section {
  max-width: 1175px;
  width: 100%;
  margin: 40px auto;
}

.mid-section nav {
  width: 100%;
}

.nav-item {
  color: #222222;
  font-size: 16px;
  margin-right: 10px;
  padding-left: 18px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 19px;
}

.all {
  width: 56px;
  height: 50px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.web-design {
  width: 115px;
  height: 50px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.three-d {
  width: 45px;
  height: 45px;
  background-color: #f2f2f2;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.app-design {
  width: 115px;
  height: 50px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.animation {
  width: 100px;
  height: 50px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.illustration {
  width: 105px;
  height: 50px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.typography {
  width: 110px;
  height: 50px;
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 19px;
  background: transparent;
}

.nav-item:hover {
  background: #f2f2f2;
  border-radius: 12px;
}

.bottom-border {
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-top: 30px;
}

.mid-section nav {
  justify-content: space-between;
}

.right-nav {
  width: 132px;
  height: 56px;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  align-items: center;
  padding-left: 24px;
  margin-top: -18px;
  margin-right: 40px;
}

.right-nav img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.photo-section {
  flex-wrap: wrap;
}

.photo-section-item {
  margin-left: -23px;
  display: flex;
  flex-direction: column;
}

.photo-section-item span {
  font-size: 18px;
  margin-left: 25px;
  width: 289px;
}

.photo-section-img {
  width: 304px;
  height: 210px;
  margin-right: 12px;
}

.photo-section .live-streaming {
  width: 220px;
}

.section-load-more {
  background-color: #f2f2f2;
  /* width: 289px;
  height: 56px; */
  padding-left: 105px;
  padding-top: 16px;
  padding-right: 108px;
  padding-bottom: 19px;
  margin-left: 38%;
  border-radius: 12px;
}

.section-load-more span {
  color: #222222;
  font-size: 16px;
}

.margin-load-more {
  margin-top: 70px;
}

.lower-section {
  background-color: #fafafa;
  background-size: auto;
  margin-left: 20%;
  margin-top: -250px;
  height: 500px;
}

.lower-section-head {
  justify-content: space-between;
  align-items: center;
}

.lower-section-head h4 {
  font-size: 32px;
  color: #222222;
  margin-left: 175px;
  margin-top: 65px;
}

.view-all span {
  font-size: 14px;
  margin-right: 195px;
  color: #222222;
  opacity: 30%;
}

.lower-section-body {
  margin-left: 150px;
  margin-top: 54px;
}

.designers-profiles {
  width: 132px;
  height: 132px;
  margin-left: 25px;
}

.lower-section-body .first-span {
  color: #222222;
  font-size: 16px;
  width: 70px;
  margin-top: 15px;
  padding-left: 60px;
}

.lower-section-body div .tran-mau {
  width: 125px;
}

.lower-section-body div .sajon-earth {
  margin-top: 27px;
}

.lower-section-body .second-span {
  width: 122px;
  color: #222222;
  opacity: 60%;
  font-size: 12px;
  margin-top: 10px;
  padding-left: 60px;
}

.follow-buttons {
  margin-top: 17px;
  margin-left: 25px;
}

.follow-button {
  width: 132px;
  height: 44px;
  padding-left: 43px;
  padding-top: 12px;
  padding-right: 47px;
  padding-bottom: 13px;
  border: 1px solid#D8D8D8;
  border-radius: 12px;
  margin-right: 25px;
}

.following-button {
  width: 132px;
  height: 44px;
  padding-left: 33px;
  padding-top: 12px;
  padding-right: 36px;
  padding-bottom: 13px;
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-right: 25px;
}

.upper-footer {
  margin-left: 23%;
  margin-bottom: 72px;
  margin-top: 69px;
}

footer h6 {
  margin-bottom: 36px;
  width: 100px;
  color: #222222;
  font-size: 16px;
}

footer p {
  margin-bottom: 10px;
  width: 150px;
}

.footer-list {
  margin-right: 165px;
}

.search-designers {
  margin-bottom: 41px;
}

.footer-brands {
  margin-bottom: 36px;
}

.footer-places {
  margin-bottom: 41px;
}

.footer-desing-assets {
  margin-bottom: 36px;
}
